@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/aspect-ratio';

:root {
  --background: #f9f9fa;
  --foreground: #041417;
  --primary: #008da6;
  --primary-foreground: #ffffff;
  --secondary: #13c2d6;
  --secondary-foreground: #ffffff;
  --accent: #d5b942;
  --accent-foreground: #ffffff;
  --muted: #92c0c8;
  --muted-foreground: #283639;
  --border: #6ecfd9;
  --input: #6ecfd9;
  --ring: #2bd0ee;

  --font-sans: Nunito Sans, ui-sans-serif, sans-serif, system-ui;
  --font-serif: Playfair Display, serif;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsla(182, 69%, 15%, 0.05);
  --shadow-xs: 0 1px 3px 0px hsla(182, 69%, 15%, 0.05);
  --shadow-sm: 0 1px 3px 0px hsla(182, 69%, 15%, 0.1), 0 1px 2px -1px hsla(182, 69%, 15%, 0.1);
  --shadow: 0 1px 3px 0px hsla(182, 69%, 15%, 0.1), 0 1px 2px -1px hsla(182, 69%, 15%, 0.1);
  --shadow-md: 0 1px 3px 0px hsla(182, 69%, 15%, 0.1), 0 2px 4px -1px hsla(182, 69%, 15%, 0.1);
  --shadow-lg: 0 1px 3px 0px hsla(182, 69%, 15%, 0.1), 0 4px 6px -1px hsla(182, 69%, 15%, 0.1);
  --shadow-xl: 0 1px 3px 0px hsla(182, 69%, 15%, 0.1), 0 8px 10px -1px hsla(182, 69%, 15%, 0.1);
  --shadow-2xl: 0 1px 3px 0px hsla(182, 69%, 15%, 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-base-content: var(--base-content);
  --color-base-content-muted: var(--base-content-muted);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --font-weight-base: 500;
  --font-weight-heading: 700;
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    letter-spacing: var(--tracking-normal);
    font-weight: var(--font-weight-base);
  }

  html {
    @apply bg-background;
  }

  ::-webkit-scrollbar {
    @apply w-[0.4rem] h-[0.5rem] bg-foreground;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-full;
  }

  h1 {
    @apply font-heading font-serif text-4xl;
  }

  h2 {
    @apply font-heading font-serif text-3xl;
  }

  h3 {
    @apply font-heading font-serif text-2xl;
  }

  h4 {
    @apply font-heading font-serif text-xl;
  }

  h5 {
    @apply font-heading font-serif text-lg;
  }

  h6 {
    @apply font-heading font-serif text-base;
  }

  button:not(:disabled),
  a:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  button:disabled,
  [role="button"]:disabled {
    cursor: not-allowed;
    opacity: 0.8 !important;
  }
  button:disabled:hover {
    opacity: 0.8 !important;
  }
  input:is(:read-only, [readonly]) {
    cursor: not-allowed;
    opacity: 0.8;
  }
}

button.btn {
  @apply px-2 py-[5px] rounded-md text-primary-foreground;
}
.btn {
  @apply px-2 py-1.5 rounded-md text-primary-foreground;
}
.btn:hover {
  @apply opacity-75;
}

/* Custom underline animation */
.underline-animation {
  position: relative;
}

.underline-animation::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg, #008da6, #00b8cc, #ffcc00);
  transition: width 0.4s ease;
}

.underline-animation:hover::after {
  width: 100%;
}
